RewriteEngine on

RewriteBase /
RewriteRule ^(.*) portal.php?__src_request=$1 [QSA,L]

<FilesMatch "\.(inc)$">
	Order allow,deny
	Deny from all
	Satisfy All
</FilesMatch>
<FilesMatch "\.(sh)$">
	Order allow,deny
	Deny from all
	Satisfy All
</FilesMatch>

php_flag magic_quotes_gpc Off
php_value auto_prepend_file kernel/base.php